* {
    font-family: 'Poppins', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.caveat {
    font-family: 'Caveat', cursive;
}

/* header */
.img-fluid.logo {
    height: 40px;
}

.nav-link {
    color: #2F2973 !important;
    margin-left: 30px;
}

.btn-orange {
    background: #E65618;
    border-radius: 0;
    color: white !important;
    padding: 10px 20px !important;
}